@media (max-width: 500px) {
  * {
    margin: 0;
    padding: 0;
  }
  body {
    margin: auto;
    max-width: 100%;
    background-color: blue;
  }
  .contain {
    display: block;
  }
  .container {
    max-width: 95%;
    margin: 10px 20px;
  }
}
